---
import { menu } from "../../utility/Data";
const currentPath = Astro.url.pathname;
---

<style scoped>
  .menu {
    position: relative;
  }

  .menu:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #bcc9d4;
  }

  .menu.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: currentColor;
  }
</style>

<div class="items-center justify-between hidden w-full lg:flex lg:order-1">
  <ul class="flex font-medium space-x-4 lx:space-x-8 mx-auto">
    {
      menu.map((menuItem) => {
        if (menuItem.subItems) {
          return (
            <li x-data="{ open: false }" class="group">
              <button
                @click="open = !open"
                @click.outside="open = false"
                class={
                  "menu flex items-center h-full justify-between text-primary-600 "
                }
              >
                {menuItem.label}
                <svg
                  class="w-2.5 h-2.5 ms-3"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 10 6"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 4 4 4-4"
                  />
                </svg>
              </button>
              <div
                x-cloak
                x-show="open"
                class="absolute z-10 text-sm bg-white border border-gray-200 rounded-lg shadow-md"
              >
                <div class="p-4 pb-0 md:pb-4">
                  <ul class="space-y-4 p-2">
                    {menuItem.subItems.map((i) => (
                      <li>
                        <a
                          href={i.path}
                          class={"text-primary-600 hover:font-bold"}
                        >
                          {i.label}
                        </a>
                      </li>
                    ))}
                  </ul>
                </div>
              </div>
            </li>
          );
        } else {
          return (
            <li>
              <a
                href={menuItem.path}
                class={`menu block py-2 px-3 text-primary-600  ${menuItem.path === currentPath ? "active" : ""}`}
              >
                {menuItem.label}
              </a>
            </li>
          );
        }
      })
    }
  </ul>
</div>
<style>
  [x-cloak] {
    display: none;
  }
</style>
